<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> 파이썬 가지고 놀기!! </title>
    <link rel="stylesheet" href="style.css">
    <!-- Boxiocns CDN Link -->
    <link rel='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">파이썬 놀이터</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">대시보드</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">파이썬 생각하기</a></li>
          <li><a class="nav-link" href="student.html" target="myframe">학생</a></li>
          <li><a class="nav-link" href="parent.html" target="myframe">부모님</a></li>
          <li><a class="nav-link" href="mentor.html" target="myframe">멘토</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">똑!똑! 파이썬</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">똑!똑! 파이썬</a></li>
          <li><a href="python1.html" target="myframe">파이썬이란?</a></li>
          <li><a href="python2.html" target="myframe">파이썬 설치하기</a></li>
          <li><a href="python3.html" target="myframe">파이썬과 친구들(EDITOR)</a></li>
          <li><a class="link_name" href="#">파이썬 만들기</a></li>
          <li><a class="nav-link" href="#">자료형</a></li>
          <li><a class="nav-link" href="#">제어문</a></li>
          <li><a class="nav-link" href="#">입력&출력</a></li>
          <li><a class="nav-link" href="#">파이썬 날개달기</a></li>
        </ul>
      </li>

         
      <li>
        <div class="iocn-link">
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name">문제풀기</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">문제풀기</a></li>
          <li><a class="nav-link" href="#">자료형</a></li>
          <li><a class="nav-link" href="">제어문</a></li>
          <li><a class="nav-link" href="#">입력&출력</a></li>
          <li><a class="nav-link" href="#">파이썬 날개달기</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">멘토교실</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">멘토교실</a></li>
          <li><a href="#">A CLASS</a></li>
          <li><a href="#">B CLASS</a></li>
          <li><a href="#">C CLASS</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">스터디</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">스터디</a></li>
          <li><a href="#">파이썬&게임제작</a></li>
          <li><a href="#">파이썬&봇 교구</a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>


           
        <a href="#">
          <i class='bx bx-history'></i>
          <span class="link_name">히스토리</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">히스토리</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">설정</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Setting</a></li>
        </ul>
      </li>
      <li>
  </li>
</ul>
  </div>
  <section class="home-section">
    
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">파이썬 가지고 놀기!!</span>
    </div>
    <div class="frame">
      <iframe name="myframe" src="main.html" width="1500" height="1000" scrolling="on" frameborder="0"></iframe> 
    </div>
  </section>
  
  

  <script src="script.js"></script>

</body>
</html>
