<!doctype html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" class="" translate="">
<head>



</head>
<body class="learn-lessons learn-lessons-show"
      data-ns="Learn"
      data-controller="lessons"
      data-action="show"
      data-defaultLocale="ko"
      data-locale="ko">



  

    
    <div class="container">
      <div class="tab-content">
    <div id="note" class="tab-pane fade in active show">
        <div class="lesson-title"><h4>에디터 설치</h4></div>
        <p><div class="markdown github"><h3>Python 설치</h3>

<h4><strong>Windows</strong></h4>

<ul>
<li><a href="http://www.python.org" target="_blank" rel="noopener">www.python.org</a>에서 다운로드 메뉴 -  Python 3.5이상 선택해서 다운로드</li>
<li>설치 과정에서 &quot;Add Python 3.5 to Path&quot; 반드시 체크</li>
<li>설치 확인

<ul>
<li>윈도우키 + R을 눌러서 나오는 창에 powershell이라고 치고, 확인을 눌러서 powershell실행</li>
<li>powershell화면에서 python이라고 입력해서 오류가 나오지 않으면 설치 성공</li>
</ul></li>
</ul>

<h4><strong>OS X</strong></h4>

<p>보통 맥에는 python 2.x버전이 자동으로 설치되어 있지만 강의는 python3을 기준으로 작성되었기 때문에 별도로 python3을 설치해야 됩니다.</p>

<ul>
<li><a href="http://www.python.org" target="_blank" rel="noopener">www.python.org</a>에서 다운로드 메뉴 - Python 3.5이상 선택해서 다운로드</li>
<li>다운로드 받은 폴더에서 .pkg파일을 실행.</li>
<li>&quot;확인되지 않은 개발자가 배포했기 때문에 열 수 없습니다&quot;라는 메세지가 뜨면 승인을 누르고 다시 한번 파일을 실행</li>
<li>계속/동의/설치 버튼을 눌려주면서 설치</li>
<li>설치 확인

<ul>
<li>command + space를 눌러서 나오는 창에 <code>터미널</code>을 치고, 엔터를 눌러서 터미널실행</li>
<li>터미널화면에서 python3이라고 입력해서 Python 3.5.1 (v3.5.1:37a07cee5969, Dec  5 2015, 21:12:44)와 비슷한 글이 뜨면 성공</li>
</ul></li>
</ul>
</div></p>
    </div>

</body>
</html>
